// Define variables for your color scheme

// For example:
$red: #E45986;
$blue: #38B4FB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// OurNeighbourhood colors
$our-primary: #4FA65B;
$our-background: #232323;
$our-gray: #93969a;
$our-text: #F5FAFF;
$our-secondary: #A8D1A6;
$our-light: #F8FAEC;
