<div class="homepage">
  <div class="container">

    <div class="d-flex justify-content-end">
      <% if user_signed_in? %>
        <%= link_to "#{current_user.name}", reports_path , class: "" %>
      <% else  %>
        <%= link_to "Login", new_user_session_path , class: "btn btn-outline-primary btn-sm mt-3 ms-3 mb-3 rounded-pill" %>
      <% end %>
    </div>

    <div>
      <div class="d-flex justify-content-center">

        <div class="d-flex flex-column align-items-center text-justify">

          <div class="content">
            <div class="content__container">
              <h1 class="our-logo mb-3 mt-3">OurNeighbourhood</h1>
            </div>
          </div>
          <div class="illustration">
            <%= image_tag("neighbourhood.svg", alt: "people making something great together") %>
          </div>

          <h2 class="text-center mb-5 intro-sentance">Let's make it <br>even better!</h2>

          <%= link_to "Improve our neighbourhood", new_report_path , class: "btn btn-lg btn-primary rounded-pill mb-5" %>

          <div class="home-card rounded-4">
            <h2 class="d-flex justify-content-center mt-2 mb-3"><i class="fa-solid fa-camera"></i></h2>
            <h3 class="text-center">Identify and Report</h3>
            <p class="text-center">Spot an opportunity? Snap a photo and upload it to our app. Let's work to make it right.</p>
          </div>
          <div class="home-card rounded-4">
            <h2 class="d-flex justify-content-center mt-2 mb-3"><i class="fa-solid fa-screwdriver-wrench"></i></h2>
            <h3 class="text-center">Collaborate and Fix</h3>
            <p class="text-center">Connect with your neighbours. Come together to fix and improve your neighbourhood.</p>
          </div>
          <div class="home-card rounded-4">
            <h2 class="d-flex justify-content-center mt-2 mb-3"><i class="fa-solid fa-lightbulb"></i></h2>
            <h3 class="text-center">Inspire and Build</h3>
            <p class="text-center">Ideas shape our world. Share a vision for your area. Let's make those ideas come to life.</p>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
