<div>
  <div class="d-flex">
    <div class="justify-content-center">
      <div class="login-top">
        <% if user_signed_in? %>
          <%= link_to "#{current_user.name}", reports_path , class: "btn btn-md mt-3 ms-3 mb-3 rounded-pill", style: "color: black; border-color: black;" %>
        <% else  %>
          <%= link_to "Login", new_user_session_path , class: "btn btn-md mt-3 ms-3 mb-3 rounded-pill", style: "color: black; border-color: black;" %>
        <% end %>
      </div>
        <div class="d-flex flex-column align-items-center text-justify">
        <%= link_to(image_tag( "neighbourhood_logo.png", class: "mb-5 mt-5", width: "300px" ),  reports_path ) %>
        <%= link_to "make a report", new_report_path , class: "btn btn-lg btn-primary rounded-pill mb-5" %>
      <h1 class= "text-center text-dark mb-5">Suggest improvements and needed repairs in your area</h1>
      <h3 class="text-center text-dark mb-5">See something <br>that needs <br>fixing</h3>
       <h3 class="text-center text-dark mb-5">Work <br>Together</h3>
       <h3 class="text-center text-dark mb-5">Get <br>your area <br>on a New Path</h3>
    </div>






  </div>
</div>
