.container-contact100 {

  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

}

.wrap-contact100 {

  width: 500px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 44px;
}

.contact100-form-title {

  display: block;
  font-size: 39px;
  color: #333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
  padding-top: 44px;
  font-family: 'Quicksand', sans-serif;
}
.input100 {

  display: block;
  width: 100%;
  background: 0 0;
  font-size: 18px;
  color: #333;
  line-height: 1.2;
  padding: 0 5px;

}

.form-container {

  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;

}
