.homepage {
  background: $our-background;
  color: $our-text;
  margin-bottom: 80px;
  a {
    text-decoration: none;
  }
  h2 {
    font-size: 40px;
  }
}

.illustration {
  img {
    width: 100%;
  }
}

.home-card {
  width: 300px;
  height: 30vh;
  padding: 16px;
  background-color: $our-light;
  border-radius: 24px;
  margin: 0 0 16px 0;
  color: $our-dark-text;
  i {
    color: $red;
  }
  h3 {
    font-size: 25px;
  }
}

.home-card h3

.our-logo {
  font-family: Pacifico;
  color: $primary;
  font-size: 2.5em;
}

.login-top {
box-shadow: 0px 10px 10px -15px #000;
}

.home-card i{
  color: $red;
}
