.mapboxgl-popup {
  max-width: 300px;
}

.map-icon {
  font-size: 35px;
}

.mapboxgl-canvas {
  border-radius: 16px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: $body-font !important;
  color: $our-dark-text;
  border-radius: 16px !important;
  background-color: $our-light !important;
  padding-bottom: 0px !important;
}

.mapboxgl-popup-close-button {
  font-size: 20px;
  margin-right: 5px;
  margin-top: 5px;
}

#popup-header {
  font-size: medium;
  text-align: left;
}

#popup-text {
  text-align: left;
}

.in-progress {
  color: $red;
  -webkit-text-stroke-color: $our-dark-text;
  -webkit-text-stroke-width: 1px;
}
.unclaimed {
  color: $primary;
  -webkit-text-stroke-color: $our-dark-text;
  -webkit-text-stroke-width: 1px;
}
