.mapboxgl-popup {
  max-width: 300px;
}

.fa-solid {
  font-size: 30px;
}

.mapboxgl-canvas {
  border-radius: 16px 16px 0 0;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: $our-dark-text;
  border-radius: 16px;
}

#popup-header {
  font-size: medium;
  text-align: left;
}

#popup-text {
  text-align: left;
}

.in-progress {
  color: $red;
  -webkit-text-stroke-color: $our-dark-text;
  -webkit-text-stroke-width: 1px;
}
.unclaimed {
  color: $primary;
  -webkit-text-stroke-color: $our-dark-text;
  -webkit-text-stroke-width: 1px;
}
