.navbar-footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #ffffff;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  height: 80px;
  width: 100%;
  padding: 8px 0 8px 0;
  border-radius: 16px 16px 0 0;
  z-index: 10;
  a {
    text-decoration: none;
    display: flex;
  }
  .btn {
    --bs-btn-padding-x: 0;
    --bs-btn-padding-y: 0;
  }
}

.dropup .dropdown-toggle::after {

  border-bottom: 0;
}

.footer-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
   font-size: 0.8em;
  }
  i {
    font-size: 2em;
  }
}

.footer-button:hover {
  color: $primary;
  transition: 0.4s;
}

.footer-button {
  // justify-content: center;
  text-align: center
}

.new-report-button {
  // position: absolute;
  height: 80px;
  width: 80px;
  border: solid 2px $light-gray;
  background: #ffffff;
  position: relative;
  top: -18px;

}

.avatar-navbar-footer {
  width: 60%;
  border-radius: 50%;
}

.current i {
  color: $primary;
}
