.navbar-footer {
  display: flex;
  justify-content: space-evenly;
  background-color: $our-light;
  color: $our-background;
  position: fixed;
  bottom: 0;
  height: 80px;
  width: 100%;
  padding: 8px 0 8px 0;
  border-radius: 16px 16px 0 0;
  z-index: 10;
  a {
    text-decoration: none;
    display: flex;
  }
  .btn {
    --bs-btn-padding-x: 0;
    --bs-btn-padding-y: 0;
  }
}

.dropup .dropdown-toggle::after {

  border-bottom: 0;
}

.footer-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
   font-size: 0.8em;
  }
  i {
    font-size: 2em;
  }
}

.footer-button:hover {
  color: $primary;
  transition: 0.4s;
}

.footer-button {
  // justify-content: center;
  text-align: center
}

.new-report-button {
  // position: absolute;
  height: 80px;
  width: 80px;
  border: solid 10px $our-light;
  background: $primary;
  position: relative;
  top: -18px;
  color: $our-background;
}

// .new-report-button-outline {
//   height: 82px;
//   width: 82px;
//   border: solid 10px $our-text;
//   background: $primary;
//   position: relative;
//   top: -18px;
//   z-index: 11;
// }

.new-report-button:hover {
  // position: absolute;

  color: $our-text;
}

.avatar-navbar-footer {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.current i {
  color: $primary;
}

.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
  border: $our-light 0px;
}
