.neighbourhood-logo {
  font-family: 'Pacifico', cursive;
  color: #FA9145;
  text-shadow:
    -1px -1px 0 rgb(255, 255, 255),
    1px -1px 0 rgb(255, 255, 255),
    -1px 1px 0 rgb(255, 255, 255),
    1px 1px 0 rgb(255, 255, 255);

}
