.card-report {
  overflow: hidden;
//   height: 120px;
  border-radius: 8px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  color: #2B272C;

}
.no-underline {

  a {
    text-decoration: none;
  }
}

.card-report img {
  height: 120px;
  width: 120px;
  object-fit: cover;
  flex: none;
}

.card-report h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-report p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-report .card-report-infos {
  padding: 16px;
}
