.card-report {
  overflow: hidden;
  border-radius: 16px;
  background: $our-light;
  box-shadow: 0 0px 5px rgba(255, 255, 255, 0.15);
  display: flex;
  // align-items: center;
  color: $our-dark-text;
  object-fit: cover;
  height: 150px;
}

.card-report:hover {
  box-shadow: 0 0px 20px rgba($color: $our-light, $alpha: 1.0);
  transition: 0.5s;
}

.no-underline {
  a {
    text-decoration: none;
  }
}

.card-report img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  flex: none;
}

.card-report h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-report p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-report .card-report-infos {
  padding: 16px;

}

.card-report-infos {
  flex-grow: 1; /* Allow the content to expand and fill the available space */
}

#submit-p {
  margin-top: 0px !important;
}

.card-report .d-flex {
  justify-content: flex-end;
   /* Align the button to the right side */
}
