<div class="card-report-infos text-left">
  <h2 id="popup-header"><%= link_to report.title, report_path(report), style: "text-decoration: none;" %></h2>
  <p id="popup-text"><%=  report.description %></p>
</div>
