<div class="map-icon">
  <% if report.status == "In Progress" && report.category == "Repair" %>
    <i class="fa-solid fa-screwdriver-wrench in-progress"></i>
  <% elsif report.status == "Unclaimed" && report.category == "Repair" %>
    <i class="fa-solid fa-screwdriver-wrench unclaimed"></i>
  <% elsif report.status == "In Progress" && report.category == "Improvement" %>
   <i class="fa-solid fa-lightbulb in-progress"></i>
  <% elsif report.status == "Unclaimed" && report.category == "Improvement" %>
   <i class="fa-solid fa-lightbulb unclaimed"></i>
  <% end %>
</div>
