<div class="map-icon">
  <% if report.status == "In Progress" %>
    <i class="fa-solid fa-screwdriver-wrench in-progress"></i>
  <% elsif report.status == "Unclaimed" %>
    <i class="fa-solid fa-screwdriver-wrench unclaimed"></i>
  <% end %>
</div>
