<div class="container">
  <h1>All reports</h1>
  <%= link_to "New report", new_report_path, class: 'btn btn-primary rounded-pill mb-3 align-center' %>

  <%= render 'pages/report_card', report: @reports %>
</div>
